<div class="icons-box">
    <div class="hero-icon-box">
        {% render '4BottlesIcon' %}
        <p>four bottles
            in one joi box</p>
    </div>

    <div class="hero-icon-box">
        {% render '6WeeksIcon' %}
        <p>stays fresh for
            six weeks</p>
    </div>

    <div class="hero-icon-box">
        {% render 'HalfIcon' %}
        <p>half the ecological footprint of glass 
            bottles</p>
    </div>

    <div class="hero-icon-box">
        {% render 'EnviormentalIcon' %}
        <p>produced with 
            minimal enviornmental impact</p>
    </div>
</div>